html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #08b8b867;
    color: #000000ab;
    text-align: center;
    max-width: 98vw;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 500px));
    gap: 5px;
}

.grid-item {
    position: relative;
}

.grid-item img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}

.overlay p {
    margin: 0;
}