html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #4cdada;
    color: #000000ab;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 98vw;
}

footer {
    margin-top: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
}

.sidebar {
    min-width: 250px;
    object-fit: contain;
    padding-left: 20px;
    margin-right: 5px;
    background-color: #b69e8071;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.grid-container {
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    position: relative;
    overflow: hidden;
}

.grid-item {
    position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    min-width: 275px;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 2%;
    left: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5% 10%;
    font-size: 12px;
}

.overlay p {
    margin: 0;
}

@media (max-width: 1140px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 860px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item img {
        min-width: 300px;
    }
}

.credit {
    position: absolute;
    bottom: 0;
    right: 4px;
    color: white;
    font-size: small;
}

.primary-name {
    font-size: large;
    font-weight: 500;
}

.status-list {
    list-style-type: none;
    padding-left: 0;
}

.status-dot {
    border-radius: 50%;
    display: inline-block;
}

.photo-dot {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    position: absolute;
    top: 5px;
    right: 5px;
}

.key-dot {
    width: 15px;
    height: 15px;
}

.notthr-dot {
    background-color: #02a028;
}

.natunc-dot {
    background-color: #649a31;
}

.rel-dot {
    background-color: #99cb68;
}

.rec-dot {
    background-color: #fecc33;
}

.dec-dot {
    background-color: #fe9a01;
}

.natinc-dot {
    background-color: #c26967;
}

.natvul-dot {
    background-color: #9b0000;
}

.natend-dot {
    background-color: #660032;
}

.natcri-dot {
    background-color: #320033;
}

.ext-dot,
.datdef-dot {
    background-color: black;
}